BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
SpacesInParentheses: true
PointerAlignment: Left
DerivePointerAlignment: false
ColumnLimit: 0
AllowShortIfStatementsOnASingleLine: false
